aiohappyeyeballs==2.4.4 ; python_version >= "3.13" and python_version < "3.14"
aiohttp==3.11.11 ; python_version >= "3.13" and python_version < "3.14"
aiosignal==1.3.2 ; python_version >= "3.13" and python_version < "3.14"
alembic==1.14.0 ; python_version >= "3.13" and python_version < "3.14"
altgraph==0.17.4 ; python_version >= "3.13" and python_version < "3.14"
amqp==5.3.1 ; python_version >= "3.13" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
anyio==4.8.0 ; python_version >= "3.13" and python_version < "3.14"
arrow==1.3.0 ; python_version >= "3.13" and python_version < "3.14"
asgiref==3.8.1 ; python_version >= "3.13" and python_version < "3.14"
assertpy==1.1 ; python_version >= "3.13" and python_version < "3.14"
astor==0.8.1 ; python_version >= "3.13" and python_version < "3.14"
astroid==3.3.8 ; python_version >= "3.13" and python_version < "3.14"
asttokens==3.0.0 ; python_version >= "3.13" and python_version < "3.14"
attrs==24.3.0 ; python_version >= "3.13" and python_version < "3.14"
authlib==1.4.0 ; python_version >= "3.13" and python_version < "3.14"
autoflake==2.3.1 ; python_version >= "3.13" and python_version < "3.14"
bandit==1.8.0 ; python_version >= "3.13" and python_version < "3.14"
bcrypt==4.2.1 ; python_version >= "3.13" and python_version < "3.14"
billiard==4.2.1 ; python_version >= "3.13" and python_version < "3.14"
binaryornot==0.4.4 ; python_version >= "3.13" and python_version < "3.14"
black==24.10.0 ; python_version >= "3.13" and python_version < "3.14"
boolean-py==4.0 ; python_version >= "3.13" and python_version < "3.14"
build==1.2.2.post1 ; python_version >= "3.13" and python_version < "3.14"
cachecontrol[filecache]==0.14.2 ; python_version >= "3.13" and python_version < "3.14"
celery==5.4.0 ; python_version >= "3.13" and python_version < "3.14"
certifi==2024.12.14 ; python_version >= "3.13" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.13" and python_version < "3.14" and (os_name == "nt" or platform_python_implementation != "PyPy" or sys_platform == "darwin") and (implementation_name != "pypy" or platform_python_implementation != "PyPy" or sys_platform == "darwin")
cfgv==3.4.0 ; python_version >= "3.13" and python_version < "3.14"
chardet==5.2.0 ; python_version >= "3.13" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.13" and python_version < "3.14"
cleo==2.1.0 ; python_version >= "3.13" and python_version < "3.14"
click-didyoumean==0.3.1 ; python_version >= "3.13" and python_version < "3.14"
click-plugins==1.1.1 ; python_version >= "3.13" and python_version < "3.14"
click-repl==0.3.0 ; python_version >= "3.13" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.13" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
cookiecutter==2.6.0 ; python_version >= "3.13" and python_version < "3.14"
coverage[toml]==7.6.10 ; python_version >= "3.13" and python_version < "3.14"
crashtest==0.4.1 ; python_version >= "3.13" and python_version < "3.14"
cryptography==44.0.0 ; python_version >= "3.13" and python_version < "3.14"
cyclonedx-python-lib==7.6.2 ; python_version >= "3.13" and python_version < "3.14"
decorator==5.1.1 ; python_version >= "3.13" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.13" and python_version < "3.14"
distlib==0.3.9 ; python_version >= "3.13" and python_version < "3.14"
django==5.1.4 ; python_version >= "3.13" and python_version < "3.14"
dparse==0.6.4 ; python_version >= "3.13" and python_version < "3.14"
dulwich==0.22.7 ; python_version >= "3.13" and python_version < "3.14"
eradicate==2.3.0 ; python_version >= "3.13" and python_version < "3.14"
executing==2.1.0 ; python_version >= "3.13" and python_version < "3.14"
factory-boy==3.3.1 ; python_version >= "3.13" and python_version < "3.14"
faker==25.9.2 ; python_version >= "3.13" and python_version < "3.14"
fastapi==0.115.6 ; python_version >= "3.13" and python_version < "3.14"
fastjsonschema==2.21.1 ; python_version >= "3.13" and python_version < "3.14"
filelock==3.16.1 ; python_version >= "3.13" and python_version < "3.14"
flake8-aaa==0.17.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-annotations-complexity==0.0.8 ; python_version >= "3.13" and python_version < "3.14"
flake8-bandit==4.1.1 ; python_version >= "3.13" and python_version < "3.14"
flake8-bugbear==24.12.12 ; python_version >= "3.13" and python_version < "3.14"
flake8-comments==0.1.2 ; python_version >= "3.13" and python_version < "3.14"
flake8-comprehensions==3.16.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-debugger==4.1.2 ; python_version >= "3.13" and python_version < "3.14"
flake8-deprecated==2.2.1 ; python_version >= "3.13" and python_version < "3.14"
flake8-eradicate==1.5.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-fixme==1.1.1 ; python_version >= "3.13" and python_version < "3.14"
flake8-logging-format==2024.24.12 ; python_version >= "3.13" and python_version < "3.14"
flake8-mock==0.4 ; python_version >= "3.13" and python_version < "3.14"
flake8-newspaper-style==0.4.3 ; python_version >= "3.13" and python_version < "3.14"
flake8-noqa==1.4.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-plugin-utils==1.3.3 ; python_version >= "3.13" and python_version < "3.14"
flake8-pyproject==1.2.3 ; python_version >= "3.13" and python_version < "3.14"
flake8-pytest-style==2.1.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-simplify==0.21.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-tidy-imports==4.11.0 ; python_version >= "3.13" and python_version < "3.14"
flake8-useless-assert==0.4.4 ; python_version >= "3.13" and python_version < "3.14"
flake8-variables-names==0.0.6 ; python_version >= "3.13" and python_version < "3.14"
flake8-warnings==0.4.1 ; python_version >= "3.13" and python_version < "3.14"
flake8==7.1.1 ; python_version >= "3.13" and python_version < "3.14"
freezegun==1.5.1 ; python_version >= "3.13" and python_version < "3.14"
frozenlist==1.5.0 ; python_version >= "3.13" and python_version < "3.14"
greenlet==3.1.1 ; python_version < "3.14" and python_version >= "3.13"
gunicorn==23.0.0 ; python_version >= "3.13" and python_version < "3.14"
h11==0.14.0 ; python_version >= "3.13" and python_version < "3.14"
html5lib==1.1 ; python_version >= "3.13" and python_version < "3.14"
httpcore==1.0.7 ; python_version >= "3.13" and python_version < "3.14"
httpx==0.28.1 ; python_version >= "3.13" and python_version < "3.14"
identify==2.6.5 ; python_version >= "3.13" and python_version < "3.14"
idna==3.10 ; python_version >= "3.13" and python_version < "3.14"
iniconfig==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
installer==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
ipython==8.31.0 ; python_version >= "3.13" and python_version < "3.14"
jaraco-classes==3.4.0 ; python_version >= "3.13" and python_version < "3.14"
jaraco-context==6.0.1 ; python_version >= "3.13" and python_version < "3.14"
jaraco-functools==4.1.0 ; python_version >= "3.13" and python_version < "3.14"
jedi==0.19.2 ; python_version >= "3.13" and python_version < "3.14"
jeepney==0.8.0 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "linux"
jinja2==3.1.5 ; python_version >= "3.13" and python_version < "3.14"
keyring==25.6.0 ; python_version >= "3.13" and python_version < "3.14"
kombu==5.4.2 ; python_version >= "3.13" and python_version < "3.14"
license-expression==30.4.0 ; python_version >= "3.13" and python_version < "3.14"
loguru==0.7.3 ; python_version >= "3.13" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "darwin"
mako==1.3.8 ; python_version >= "3.13" and python_version < "3.14"
markdown-it-py==3.0.0 ; python_version >= "3.13" and python_version < "3.14"
markupsafe==3.0.2 ; python_version >= "3.13" and python_version < "3.14"
marshmallow==3.25.0 ; python_version >= "3.13" and python_version < "3.14"
matplotlib-inline==0.1.7 ; python_version >= "3.13" and python_version < "3.14"
mccabe==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.13" and python_version < "3.14"
more-itertools==10.5.0 ; python_version >= "3.13" and python_version < "3.14"
mouseinfo==0.1.0 ; python_version >= "3.13" and python_version < "3.14"
msgpack==1.1.0 ; python_version >= "3.13" and python_version < "3.14"
multidict==6.1.0 ; python_version >= "3.13" and python_version < "3.14"
mypy-extensions==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
mypy==1.14.1 ; python_version >= "3.13" and python_version < "3.14"
nest-asyncio==1.6.0 ; python_version >= "3.13" and python_version < "3.14"
nodeenv==1.9.1 ; python_version >= "3.13" and python_version < "3.14"
numpy==2.2.1 ; python_version >= "3.13" and python_version < "3.14"
orjson==3.10.14 ; python_version >= "3.13" and python_version < "3.14"
outcome==1.3.0.post0 ; python_version >= "3.13" and python_version < "3.14"
packageurl-python==0.16.0 ; python_version >= "3.13" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.13" and python_version < "3.14"
parso==0.8.4 ; python_version >= "3.13" and python_version < "3.14"
pathspec==0.12.1 ; python_version >= "3.13" and python_version < "3.14"
pbr==6.1.0 ; python_version >= "3.13" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "win32"
pexpect==4.9.0 ; python_version >= "3.13" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.4.0 ; python_version >= "3.13" and python_version < "3.14"
pip-api==0.0.34 ; python_version >= "3.13" and python_version < "3.14"
pip-audit==2.7.3 ; python_version >= "3.13" and python_version < "3.14"
pip-requirements-parser==32.0.1 ; python_version >= "3.13" and python_version < "3.14"
pip==24.3.1 ; python_version >= "3.13" and python_version < "3.14"
pkginfo==1.12.0 ; python_version >= "3.13" and python_version < "3.14"
platformdirs==4.3.6 ; python_version >= "3.13" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.13" and python_version < "3.14"
poetry-core==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
poetry==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
pprintpp==0.4.0 ; python_version >= "3.13" and python_version < "3.14"
pre-commit==4.0.1 ; python_version >= "3.13" and python_version < "3.14"
prompt-toolkit==3.0.48 ; python_version >= "3.13" and python_version < "3.14"
propcache==0.2.1 ; python_version >= "3.13" and python_version < "3.14"
psycopg2-binary==2.9.10 ; python_version >= "3.13" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.13" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.13" and python_version < "3.14"
py-serializable==1.1.2 ; python_version >= "3.13" and python_version < "3.14"
pyautogui==0.9.54 ; python_version >= "3.13" and python_version < "3.14"
pycodestyle==2.12.1 ; python_version >= "3.13" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.13" and python_version < "3.14" and (os_name == "nt" or platform_python_implementation != "PyPy" or sys_platform == "darwin") and (implementation_name != "pypy" or platform_python_implementation != "PyPy" or sys_platform == "darwin")
pydantic-core==2.27.2 ; python_version >= "3.13" and python_version < "3.14"
pydantic==2.10.5 ; python_version >= "3.13" and python_version < "3.14"
pyflakes==3.2.0 ; python_version >= "3.13" and python_version < "3.14"
pygetwindow==0.0.9 ; python_version >= "3.13" and python_version < "3.14"
pygments==2.19.1 ; python_version >= "3.13" and python_version < "3.14"
pyinstaller-hooks-contrib==2024.11 ; python_version >= "3.13" and python_version < "3.14"
pyinstaller==6.11.1 ; python_version >= "3.13" and python_version < "3.14"
pymsgbox==1.0.9 ; python_version >= "3.13" and python_version < "3.14"
pyparsing==3.2.1 ; python_version >= "3.13" and python_version < "3.14"
pyperclip==1.9.0 ; python_version >= "3.13" and python_version < "3.14"
pyproject-hooks==1.2.0 ; python_version >= "3.13" and python_version < "3.14"
pyqt6-qt6==6.8.1 ; python_version >= "3.13" and python_version < "3.14"
pyqt6-sip==13.9.1 ; python_version >= "3.13" and python_version < "3.14"
pyqt6==6.8.0 ; python_version >= "3.13" and python_version < "3.14"
pyrect==0.2.0 ; python_version >= "3.13" and python_version < "3.14"
pyscreeze==1.0.1 ; python_version >= "3.13" and python_version < "3.14"
pysocks==1.7.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-asyncio==0.25.2 ; python_version >= "3.13" and python_version < "3.14"
pytest-clarity==1.0.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-cov==6.0.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-deadfixtures==2.2.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-env==1.1.5 ; python_version >= "3.13" and python_version < "3.14"
pytest-freezegun==0.4.2 ; python_version >= "3.13" and python_version < "3.14"
pytest-html==4.1.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-metadata==3.1.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-mock==3.14.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-randomly==3.16.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-repeat==0.9.3 ; python_version >= "3.13" and python_version < "3.14"
pytest-socket==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-split==0.10.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-sugar==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-timeout==2.3.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-timeouts==1.2.1 ; python_version >= "3.13" and python_version < "3.14"
pytest==8.3.4 ; python_version >= "3.13" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "3.14"
python-decouple==3.8 ; python_version >= "3.13" and python_version < "3.14"
python-slugify==8.0.4 ; python_version >= "3.13" and python_version < "3.14"
python3-xlib==0.15 ; platform_system == "Linux" and python_version >= "3.13" and python_version < "3.14"
pytweening==1.2.0 ; python_version >= "3.13" and python_version < "3.14"
pytz==2024.2 ; python_version >= "3.13" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.13" and python_version < "3.14"
rapidfuzz==3.11.0 ; python_version >= "3.13" and python_version < "3.14"
redis[asyncio]==5.2.1 ; python_version >= "3.13" and python_version < "3.14"
requests-toolbelt==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.13" and python_version < "3.14"
respx==0.22.0 ; python_version >= "3.13" and python_version < "3.14"
rich==13.9.4 ; python_version >= "3.13" and python_version < "3.14"
ruamel-yaml==0.18.10 ; python_version >= "3.13" and python_version < "3.14"
ruff==0.9.1 ; python_version >= "3.13" and python_version < "3.14"
safety-schemas==0.0.5 ; python_version >= "3.13" and python_version < "3.14"
safety==3.2.3 ; python_version >= "3.13" and python_version < "3.14"
secretstorage==3.3.3 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "linux"
selenium==4.27.1 ; python_version >= "3.13" and python_version < "3.14"
setuptools==75.8.0 ; python_version >= "3.13" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.13" and python_version < "3.14"
simple-term-menu==1.6.6 ; python_version >= "3.13" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.13" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.13" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.13" and python_version < "3.14"
sqlalchemy==2.0.37 ; python_version >= "3.13" and python_version < "3.14"
sqlalchemy[asyncio]==2.0.37 ; python_version >= "3.13" and python_version < "3.14"
sqlparse==0.5.3 ; python_version >= "3.13" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.13" and python_version < "3.14"
starlette==0.41.3 ; python_version >= "3.13" and python_version < "3.14"
stevedore==5.4.0 ; python_version >= "3.13" and python_version < "3.14"
termcolor==2.5.0 ; python_version >= "3.13" and python_version < "3.14"
text-unidecode==1.3 ; python_version >= "3.13" and python_version < "3.14"
toml==0.10.2 ; python_version >= "3.13" and python_version < "3.14"
tomlkit==0.13.2 ; python_version >= "3.13" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.13" and python_version < "3.14"
trio-websocket==0.11.1 ; python_version >= "3.13" and python_version < "3.14"
trio==0.28.0 ; python_version >= "3.13" and python_version < "3.14"
trove-classifiers==2025.1.10.15 ; python_version >= "3.13" and python_version < "3.14"
typer==0.15.1 ; python_version >= "3.13" and python_version < "3.14"
types-python-dateutil==2.9.0.20241206 ; python_version >= "3.13" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.13" and python_version < "3.14"
tzdata==2024.2 ; python_version >= "3.13" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.13" and python_version < "3.14"
urllib3[socks]==2.3.0 ; python_version >= "3.13" and python_version < "3.14"
uvicorn==0.34.0 ; python_version >= "3.13" and python_version < "3.14"
validators==0.34.0 ; python_version >= "3.13" and python_version < "3.14"
vine==5.1.0 ; python_version >= "3.13" and python_version < "3.14"
virtualenv==20.28.1 ; python_version >= "3.13" and python_version < "3.14"
wcwidth==0.2.13 ; python_version >= "3.13" and python_version < "3.14"
webencodings==0.5.1 ; python_version >= "3.13" and python_version < "3.14"
websocket-client==1.8.0 ; python_version >= "3.13" and python_version < "3.14"
wget==3.2 ; python_version >= "3.13" and python_version < "3.14"
win32-setctime==1.2.0 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "win32"
wsproto==1.2.0 ; python_version >= "3.13" and python_version < "3.14"
xattr==1.1.4 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "darwin"
yarl==1.18.3 ; python_version >= "3.13" and python_version < "3.14"
zipp==3.21.0 ; python_version >= "3.13" and python_version < "3.14"
