aiohttp==3.8.4 ; python_full_version == "3.11.3"
aiosignal==1.3.1 ; python_full_version == "3.11.3"
alembic==1.11.1 ; python_full_version == "3.11.3"
altgraph==0.17.3 ; python_full_version == "3.11.3"
amqp==5.1.1 ; python_full_version == "3.11.3"
anyio==3.7.0 ; python_full_version == "3.11.3"
appnope==0.1.3 ; sys_platform == "darwin" and python_full_version == "3.11.3"
arrow==1.2.3 ; python_full_version == "3.11.3"
asgiref==3.7.2 ; python_full_version == "3.11.3"
asttokens==2.2.1 ; python_full_version == "3.11.3"
async-generator==1.10 ; python_full_version == "3.11.3"
async-timeout==4.0.2 ; python_full_version == "3.11.3"
attrs==23.1.0 ; python_full_version == "3.11.3"
backcall==0.2.0 ; python_full_version == "3.11.3"
bcrypt==4.0.1 ; python_full_version == "3.11.3"
billiard==4.1.0 ; python_full_version == "3.11.3"
binaryornot==0.4.4 ; python_full_version == "3.11.3"
black==22.12.0 ; python_full_version == "3.11.3"
celery==5.3.0 ; python_full_version == "3.11.3"
certifi==2023.5.7 ; python_full_version == "3.11.3"
cffi==1.15.1 ; os_name == "nt" and implementation_name != "pypy" and python_full_version == "3.11.3"
cfgv==3.3.1 ; python_full_version == "3.11.3"
chardet==5.1.0 ; python_full_version == "3.11.3"
charset-normalizer==3.1.0 ; python_full_version == "3.11.3"
click-didyoumean==0.3.0 ; python_full_version == "3.11.3"
click-plugins==1.1.1 ; python_full_version == "3.11.3"
click-repl==0.3.0 ; python_full_version == "3.11.3"
click==8.1.3 ; python_full_version == "3.11.3"
colorama==0.4.6 ; python_full_version == "3.11.3" and (platform_system == "Windows" or sys_platform == "win32")
cookiecutter==2.1.1 ; python_full_version == "3.11.3"
coverage==7.2.7 ; python_full_version == "3.11.3"
coverage[toml]==7.2.7 ; python_full_version == "3.11.3"
decorator==5.1.1 ; python_full_version == "3.11.3"
distlib==0.3.6 ; python_full_version == "3.11.3"
django==4.2.2 ; python_full_version == "3.11.3"
dparse==0.6.2 ; python_full_version == "3.11.3"
easyprocess==1.1 ; python_full_version == "3.11.3"
entrypoint2==1.1 ; python_full_version == "3.11.3"
exceptiongroup==1.1.1 ; python_full_version == "3.11.3"
executing==1.2.0 ; python_full_version == "3.11.3"
factory-boy==3.2.1 ; python_full_version == "3.11.3"
faker==16.9.0 ; python_full_version == "3.11.3"
fastapi==0.89.1 ; python_full_version == "3.11.3"
filelock==3.12.2 ; python_full_version == "3.11.3"
flake8==6.0.0 ; python_full_version == "3.11.3"
frozenlist==1.3.3 ; python_full_version == "3.11.3"
greenlet==2.0.2 ; python_full_version == "3.11.3" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
gunicorn==20.1.0 ; python_full_version == "3.11.3"
h11==0.14.0 ; python_full_version == "3.11.3"
httpcore==0.16.3 ; python_full_version == "3.11.3"
httpx==0.23.3 ; python_full_version == "3.11.3"
identify==2.5.24 ; python_full_version == "3.11.3"
idna==3.4 ; python_full_version == "3.11.3"
iniconfig==2.0.0 ; python_full_version == "3.11.3"
ipython==8.14.0 ; python_full_version == "3.11.3"
jedi==0.18.2 ; python_full_version == "3.11.3"
jeepney==0.8.0 ; python_full_version == "3.11.3" and platform_system == "Linux"
jinja2-time==0.2.0 ; python_full_version == "3.11.3"
jinja2==3.1.2 ; python_full_version == "3.11.3"
kombu==5.3.1 ; python_full_version == "3.11.3"
loguru==0.6.0 ; python_full_version == "3.11.3"
macholib==1.16.2 ; sys_platform == "darwin" and python_full_version == "3.11.3"
mako==1.2.4 ; python_full_version == "3.11.3"
markupsafe==2.1.3 ; python_full_version == "3.11.3"
matplotlib-inline==0.1.6 ; python_full_version == "3.11.3"
mccabe==0.7.0 ; python_full_version == "3.11.3"
mouseinfo==0.1.0 ; python_full_version == "3.11.3"
mss==9.0.1 ; python_full_version == "3.11.3"
multidict==6.0.4 ; python_full_version == "3.11.3"
mypy-extensions==1.0.0 ; python_full_version == "3.11.3"
mypy==0.991 ; python_full_version == "3.11.3"
nodeenv==1.8.0 ; python_full_version == "3.11.3"
numpy==1.25.0 ; python_full_version == "3.11.3"
orjson==3.9.1 ; python_full_version == "3.11.3"
outcome==1.2.0 ; python_full_version == "3.11.3"
packaging==21.3 ; python_full_version == "3.11.3"
parso==0.8.3 ; python_full_version == "3.11.3"
pathspec==0.11.1 ; python_full_version == "3.11.3"
pefile==2023.2.7 ; sys_platform == "win32" and python_full_version == "3.11.3"
pexpect==4.8.0 ; sys_platform != "win32" and python_full_version == "3.11.3"
pickleshare==0.7.5 ; python_full_version == "3.11.3"
pillow==9.5.0 ; python_full_version == "3.11.3"
platformdirs==3.5.3 ; python_full_version == "3.11.3"
pluggy==1.0.0 ; python_full_version == "3.11.3"
pre-commit==2.21.0 ; python_full_version == "3.11.3"
prompt-toolkit==3.0.38 ; python_full_version == "3.11.3"
psycopg2-binary==2.9.6 ; python_full_version == "3.11.3"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_full_version == "3.11.3"
pure-eval==0.2.2 ; python_full_version == "3.11.3"
pyautogui==0.9.54 ; python_full_version == "3.11.3"
pycodestyle==2.10.0 ; python_full_version == "3.11.3"
pycparser==2.21 ; python_full_version == "3.11.3" and os_name == "nt" and implementation_name != "pypy"
pydantic==1.10.9 ; python_full_version == "3.11.3"
pyflakes==3.0.1 ; python_full_version == "3.11.3"
pygetwindow==0.0.9 ; python_full_version == "3.11.3"
pygments==2.15.1 ; python_full_version == "3.11.3"
pyinstaller-hooks-contrib==2023.3 ; python_full_version == "3.11.3"
pyinstaller==5.12.0 ; python_full_version == "3.11.3"
pymsgbox==1.0.9 ; python_full_version == "3.11.3"
pyobjc-core==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-accessibility==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-accounts==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-addressbook==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-adservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-adsupport==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-applescriptkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-applescriptobjc==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-applicationservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-apptrackingtransparency==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-audiovideobridging==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-authenticationservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-automaticassessmentconfiguration==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-automator==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-avfoundation==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-avkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-avrouting==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-backgroundassets==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-businesschat==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-calendarstore==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-callkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-cfnetwork==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-classkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-cloudkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-cocoa==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-collaboration==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-colorsync==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-contacts==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-contactsui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-coreaudio==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-coreaudiokit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-corebluetooth==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-coredata==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-corehaptics==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-corelocation==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-coremedia==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-coremediaio==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-coremidi==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-coreml==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-coremotion==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-coreservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-corespotlight==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-coretext==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-corewlan==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-cryptotokenkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-datadetection==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-devicecheck==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-dictionaryservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-discrecording==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-discrecordingui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-diskarbitration==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-dvdplayback==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-eventkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-exceptionhandling==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-executionpolicy==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-extensionkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-externalaccessory==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-fileprovider==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-fileproviderui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-findersync==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-fsevents==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-gamecenter==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-gamecontroller==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-gamekit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-gameplaykit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-healthkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-imagecapturecore==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-imserviceplugin==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-inputmethodkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-installerplugins==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-instantmessage==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-intents==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "16.0"
pyobjc-framework-intentsui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-iobluetooth==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-iobluetoothui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-iosurface==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-ituneslibrary==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-kernelmanagement==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-latentsemanticmapping==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-launchservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-libdispatch==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-libxpc==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-linkpresentation==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-localauthentication==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-localauthenticationembeddedui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-mailkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-mapkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-mediaaccessibility==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-medialibrary==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-mediaplayer==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "16.0"
pyobjc-framework-mediatoolbox==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-metal==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-metalfx==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-metalkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-metalperformanceshaders==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-metalperformanceshadersgraph==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-metrickit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-mlcompute==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-modelio==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-multipeerconnectivity==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-naturallanguage==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-netfs==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-network==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-networkextension==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-notificationcenter==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "14.0"
pyobjc-framework-opendirectory==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-osakit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-oslog==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-passkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-pencilkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-phase==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-photos==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-photosui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "15.0"
pyobjc-framework-preferencepanes==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-pubsub==9.2 ; platform_release >= "9.0" and platform_release < "18.0" and platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-pushkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-quartz==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-quicklookthumbnailing==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-replaykit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-safariservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "16.0"
pyobjc-framework-safetykit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-scenekit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-screencapturekit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.4"
pyobjc-framework-screensaver==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-screentime==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-scriptingbridge==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "9.0"
pyobjc-framework-searchkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-security==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-securityfoundation==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-securityinterface==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-servicemanagement==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "10.0"
pyobjc-framework-sharedwithyou==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-sharedwithyoucore==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-shazamkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "21.0"
pyobjc-framework-social==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-soundanalysis==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-speech==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-spritekit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "13.0"
pyobjc-framework-storekit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "11.0"
pyobjc-framework-syncservices==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-systemconfiguration==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc-framework-systemextensions==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "19.0"
pyobjc-framework-threadnetwork==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "22.0"
pyobjc-framework-uniformtypeidentifiers==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-usernotifications==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-usernotificationsui==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-videosubscriberaccount==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "18.0"
pyobjc-framework-videotoolbox==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "12.0"
pyobjc-framework-virtualization==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "20.0"
pyobjc-framework-vision==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3" and platform_release >= "17.0"
pyobjc-framework-webkit==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyobjc==9.2 ; platform_system == "Darwin" and python_full_version == "3.11.3"
pyparsing==3.0.9 ; python_full_version == "3.11.3"
pyperclip==1.8.2 ; python_full_version == "3.11.3"
pyqt6-qt6==6.5.1 ; python_full_version == "3.11.3"
pyqt6-sip==13.5.1 ; python_full_version == "3.11.3"
pyqt6==6.5.1 ; python_full_version == "3.11.3"
pyrect==0.2.0 ; python_full_version == "3.11.3"
pyscreenshot==3.1 ; python_full_version == "3.11.3"
pyscreeze==0.1.29 ; python_full_version == "3.11.3"
pysocks==1.7.1 ; python_full_version == "3.11.3"
pytest-cov==4.1.0 ; python_full_version == "3.11.3"
pytest==7.3.2 ; python_full_version == "3.11.3"
python-dateutil==2.8.2 ; python_full_version == "3.11.3"
python-decouple==3.8 ; python_full_version == "3.11.3"
python-slugify==8.0.1 ; python_full_version == "3.11.3"
python3-xlib==0.15 ; platform_system == "Linux" and python_full_version == "3.11.3"
pytweening==1.0.7 ; python_full_version == "3.11.3"
pytz==2022.7.1 ; python_full_version == "3.11.3"
pywin32-ctypes==0.2.0 ; sys_platform == "win32" and python_full_version == "3.11.3"
pyyaml==6.0 ; python_full_version == "3.11.3"
redis[asyncio]==4.5.5 ; python_full_version == "3.11.3"
requests==2.31.0 ; python_full_version == "3.11.3"
rfc3986[idna2008]==1.5.0 ; python_full_version == "3.11.3"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_full_version == "3.11.3"
ruamel-yaml==0.17.32 ; python_full_version == "3.11.3"
safety==2.3.5 ; python_full_version == "3.11.3"
selenium==4.10.0 ; python_full_version == "3.11.3"
setuptools==67.8.0 ; python_full_version == "3.11.3"
simple-term-menu==1.6.1 ; python_full_version == "3.11.3"
six==1.16.0 ; python_full_version == "3.11.3"
sniffio==1.3.0 ; python_full_version == "3.11.3"
sortedcontainers==2.4.0 ; python_full_version == "3.11.3"
sqlalchemy-utils==0.38.3 ; python_full_version == "3.11.3"
sqlalchemy==1.4.48 ; python_full_version == "3.11.3"
sqlparse==0.4.4 ; python_full_version == "3.11.3"
stack-data==0.6.2 ; python_full_version == "3.11.3"
starlette==0.22.0 ; python_full_version == "3.11.3"
termcolor==2.3.0 ; python_full_version == "3.11.3"
text-unidecode==1.3 ; python_full_version == "3.11.3"
toml==0.10.2 ; python_full_version == "3.11.3"
traitlets==5.9.0 ; python_full_version == "3.11.3"
trio-websocket==0.10.3 ; python_full_version == "3.11.3"
trio==0.22.0 ; python_full_version == "3.11.3"
typing-extensions==4.6.3 ; python_full_version == "3.11.3"
tzdata==2023.3 ; python_full_version == "3.11.3"
urllib3==2.0.3 ; python_full_version == "3.11.3"
urllib3[socks]==2.0.3 ; python_full_version == "3.11.3"
uvicorn==0.20.0 ; python_full_version == "3.11.3"
validators==0.20.0 ; python_full_version == "3.11.3"
vine==5.0.0 ; python_full_version == "3.11.3"
virtualenv==20.23.1 ; python_full_version == "3.11.3"
wcwidth==0.2.6 ; python_full_version == "3.11.3"
wget==3.2 ; python_full_version == "3.11.3"
win32-setctime==1.1.0 ; sys_platform == "win32" and python_full_version == "3.11.3"
wsproto==1.2.0 ; python_full_version == "3.11.3"
yarl==1.9.2 ; python_full_version == "3.11.3"
zipp==3.15.0 ; python_full_version == "3.11.3"
